body {
    background: url("/GifTastic/assets/images/gifsBackground.jpg");
    background-size: cover;
}


#animals-form{
    float: right;
}

.animalBtn {
    margin: 5px;
}

 .container {
    float:left;
    position: relative;
    width: 30%;
}

.animal{
    float:left;
}

img {
    margin: 10px;
    height: 200px;
    width: 300px;
    margin-top: 0px;
}

.title {
    background: url("/GifTastic/assets/images/gifsBackground.jpg");
}

#add-animal {
    margin-top: 5px;
    background-color: teal;
    color: white;
}
